<!-- <span></span> -->

<!-- <span>Reserved: <ion-checkbox [disabled]="true" [checked]="this.tableInput?.isReserved"></ion-checkbox></span> -->

<!-- <span>{{this.tableInput?.info}}</span> -->

<!-- 
<ion-button class="item-expanded" slot="end" fill="clear" *ngIf="this.tableInput" (click)="onEdittable(this.tableInput)">
  
</ion-button>
<ion-button class="item-expanded" slot="end" fill="clear" *ngIf="this.tableInput" (click)="onDeleteAlert(this.tableInput)">
  
</ion-button> -->
<ion-card>
  <ion-card-header>
    <span>
      <ion-card-title>{{this.tableInput?.number}}</ion-card-title>
        <img src="/assets/images/mesa.png" alt="table image">
    </span>
    <ion-card-subtitle *ngIf="this.tableInput!.isReserved ">Reserved</ion-card-subtitle>
    <ion-card-subtitle *ngIf="this.tableInput!.isReserved == false ">Avaliable</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    {{this.tableInput?.info}}
  </ion-card-content>

  <ion-button *ngIf="this.tableInput" fill="clear" (click)="onEdittable(this.tableInput)">{{ "generic.edit" | translate  | uppercase }}</ion-button>
  <ion-button *ngIf="this.tableInput" fill="clear" (click)="onDeleteAlert(this.tableInput)">{{ "generic.delete" | translate | uppercase }}</ion-button>
</ion-card>