<ion-content>
  <div class="container">
    <form [formGroup]="formLogin" (ngSubmit)="onSubmit()" (keyup.enter)="onSubmit()" class="form-login">
      <ion-item lines="full">
        <ion-input type="text" placeholder="Email" formControlName="email"></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
      </ion-item>
      <ion-row class="ion-margin-top">
        <ion-col>
          <ion-button [disabled]="!formLogin.valid" (click)="onSubmit()" expand="block">Login</ion-button>
        </ion-col>
      </ion-row>
      <ion-row class="ion-margin-top">
        <ion-col class="ion-text-center">
          <a class="forgot-password" href="/register">Do not have an account?  Register!</a>
        </ion-col>
      </ion-row>
    </form>
  </div>
</ion-content>
