<ion-header>
  <ion-toolbar>
    <ion-title>{{(mode=="Edit"?"dishes.edit":"dishes.create") | translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onDismiss(null)">{{"generic.cancel" | translate}}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" (keyup.enter)="onSubmit()">
    <ion-item>
      <ion-label position="floating">
        {{"generic.name" | translate}}
      </ion-label>
      <ion-input type="text" placeholder="Introduce el nombre" formControlName="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        {{"generic.price" | translate}}
        
      </ion-label>
      <ion-input type="number" placeholder="Introduce el precio" formControlName="price"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        {{"generic.image"| translate}}
      </ion-label>
      <ion-input type="file" (change)="uploadImage($event)" placeholder="Introduce la imagen" formControlName="image"></ion-input>
    </ion-item>
  </form>
</ion-content>
<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button [disabled]="!form.valid" (click)="onSubmit()">{{(mode=="Edit"?"generic.modify":"generic.add") | translate}}</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-footer>