  <ion-avatar>
    <img *ngIf="!this.dishInput?.image" alt=""
    src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    <img *ngIf="this.dishInput != undefined" alt="" [src]="this.imageUrl" />
  </ion-avatar>
  {{this.dishInput?.name}} 
  <ion-button class="item-expanded" slot="end" fill="clear" *ngIf="this.dishInput" (click)="onEditDish(this.dishInput)">
    {{ "generic.edit" | translate  | uppercase }}
  </ion-button>
  <ion-button class="item-expanded" slot="end" fill="clear" *ngIf="this.dishInput" (click)="onDeleteAlert(this.dishInput)">
    {{ "generic.delete" | translate | uppercase }}
  </ion-button>