<ion-header [translucent]="true">
  <ion-toolbar color="mycolor">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title size="large" >{{ "pages." + folder | lowercase |translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  class="folder" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" style="font-size: 54px;">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <app-dishes *ngIf="folder == 'Dish'" ></app-dishes>
    <app-command *ngIf="folder == 'Commands'"></app-command>
    <app-table *ngIf="folder == 'Table' " ></app-table>
    <app-waiters *ngIf="folder == 'Waiter'" ></app-waiters>
    <app-about *ngIf="folder == 'About'"></app-about>
    <!-- <app-main *ngIf="folder == 'Home'"></app-main> -->
    <app-home *ngIf="folder == 'Home'"></app-home>
  </div>


  
</ion-content>
