ion-grid {
    --ion-grid-padding: 20px;
  
    --ion-grid-padding-xs: 20px;
    --ion-grid-padding-sm: 20px;
    --ion-grid-padding-md: 20px;
    --ion-grid-padding-lg: 20px;
    --ion-grid-padding-xl: 20px;
  
    --ion-grid-column-padding: 30px;
  
    --ion-grid-column-padding-xs: 30px;
    --ion-grid-column-padding-sm: 30px;
    --ion-grid-column-padding-md: 30px;
    --ion-grid-column-padding-lg: 30px;
    --ion-grid-column-padding-xl: 30px;
  }
  
  ion-col {
    background-color: #fff;
    border: solid 1px #EB5078;
    color: #fff;
    text-align: center;
  }


  .imagen-container {
    width: 100%;
    height: 0;
    padding-bottom: 50%; /* Relación de aspecto cuadrada (1:1) */
    position: relative;
  }
  
  .imagen-columna {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


  
  .imagen-container-grande {
    width: 100%;
    height: 0;
    padding-bottom: 23%; /* Relación de aspecto cuadrada (1:1) */
    position: relative;
  }
