.dish-item {
    width: 100%;
  }

  .dish-item img {
    width: 100% !important; /* Puedes ajustar este valor según tus necesidades */
    height: auto !important; /* Para mantener la proporción de la imagen */
  }