<ion-content>
  <div class="container">
    <form [formGroup]="formRef" (ngSubmit)="onSubmit()" (keyup.enter)="onSubmit()" class="form-register">
      <ion-item lines="full">
        <ion-input type="text" placeholder="Email" formControlName="email"></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
      </ion-item>
      <ion-row class="ion-margin-top" *ngIf="errorOccurred">
        <ion-col class="ion-text-center">
          <p class="error-message" [ngStyle]="{ color: 'red' }">{{ errorMessage }}</p>
        </ion-col>
      </ion-row>
      <ion-row class="ion-margin-top">
        <ion-col>
          <ion-button [disabled]="!formRef.valid" (click)="onSubmit()" expand="block">Register</ion-button>
        </ion-col>
      </ion-row>
      <ion-row class="ion-margin-top">
        <ion-col class="ion-text-center">
          <a class="forgot-password" href="#" style="font-size:20px !important">Already have an account? Log in!</a>
        </ion-col>
      </ion-row>

    </form>
  </div>
</ion-content>
