<ion-header>
  <ion-toolbar>
    <ion-title>{{(mode=="Edit"?"waiter.edit":"waiter.create") | translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onDismiss(null)">{{"generic.cancel" | translate}}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" (keyup.enter)="onSubmit()">
    <ion-item>
      <ion-label position="floating">
        {{"generic.name" | translate}}
      </ion-label>
      <ion-input type="text" placeholder="Introduce el nombre" formControlName="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        {{"generic.surname" | translate}}
      </ion-label>
      <ion-input type="text" placeholder="Introduce el apellido" formControlName="surname"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        {{"generic.image"| translate}}
      </ion-label>
      <ion-input type="file" (change)="uploadImage($event)" formControlName="picture"  placeholder="Introduce la imagen" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        {{"generic.enabled"| translate}}
      </ion-label>
      <ion-checkbox formControlName="enabled"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        {{"waiter.bussy"| translate}}
      </ion-label>
      <ion-checkbox formControlName="isBusy"></ion-checkbox>
    </ion-item>

  </form>
</ion-content>
<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button [disabled]="!form.valid" (click)="onSubmit()">{{(mode=="Edit"?"generic.modify":"generic.add") | translate}}</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- <div>
    <img [src]="image" *ngFor="let image of getImages()" width="200">
  </div> -->
</ion-footer>