<ion-avatar>
  <img *ngIf="!this.waiterInput?.picture" alt=""
  src="https://ionicframework.com/docs/img/demos/avatar.svg" />
  <img *ngIf="this.waiterInput != undefined" alt="" [src]="this.imageUrl" />
</ion-avatar>
{{this.waiterInput?.name}} 
{{this.waiterInput?.surname}}

<span>Enabled: <ion-checkbox [disabled]="true" [checked]="this.waiterInput?.enabled"></ion-checkbox></span>

<span>IsBusy: <ion-checkbox [disabled]="true" [checked]="this.waiterInput?.isBusy"></ion-checkbox></span>

<ion-button class="item-expanded" slot="end" fill="clear" *ngIf="this.waiterInput" (click)="onEditWaiter(this.waiterInput)">
  {{ "generic.edit" | translate  | uppercase }}
</ion-button>
<ion-button class="item-expanded" slot="end" fill="clear" *ngIf="this.waiterInput" (click)="onDeleteAlert(this.waiterInput)">
  {{ "generic.delete" | translate | uppercase }}
</ion-button>


